


<div id="content-wrapper">
<div class="row">
<div class="col-lg-12">

 
<%= render 'form' %>

<div class="row">
<div class="col-lg-12">
	<div class="main-box">
		<header class="main-box-header">
			<h2>View Pagers</h2>
		</header>
		
		 	<div class="main-box-body">
				<div id="gallery-photos-lightbox">
					<ul class="clearfix gallery-photos">
						<% @view_pagers.each do |image| %>
						 
						<li class="col-md-3 col-sm-3 col-xs-6">
							<a href="img/samples/hdr/img_8.jpg" class="photo-box image-link" style="background-image: url('<%=image.view_pager.url%>');"></a>
							<span class="thumb-meta-time "><i class="fa fa-clock-o"></i><span class="span_status"> Status: <%=image.status%></span>
								<a href="" onclick="status_Change(<%=image.id%>,'<%=image.status %>')"><span class="status_change"><i class="fa fa-eye" aria-hidden="true"></i></span>
								</a>
							  </span>
						</li>
						<% end %>
						 
					</ul>
				</div>
			</div>
	
	</div>
</div>
</div>

 
 

</div>
</div>


</div>
 
 
<script >
function status_Change(id,status){
	//alert( id);
	alert( status);
	 if(confirm("Are you sure you want to change the status?")){
          $.ajax({
            url: "/view_pagers/"+id+"/status",
            type: "POST",
            data: {},
            dataType: "text",

          complete: function(){
          },
          success: function(data,xhr){
            location.href = "/view_pagers/new"
          },
          error: function(){

          } 
          })
      }
      else{
          return false;
      }

}
</script>
 

  
