
<!DOCTYPE html>
<html>
<head>
  <title>GQuestion</title>
  <%= favicon_link_tag "/assets/fevicon.jpg", rel: 'icon', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
<%if notice%>	
<p id="notice" class="notice-class"><span><%= notice %><span></p>
<%end%>
 
  

<%= yield %>

</body>
</html>
